{% extends "core/base.html" %}

{% block title %}About{% endblock  %} 

{% block meta %}
    <meta name ="description" content = "Petnet is the best online store for pets bla bla">
    <meta name = "author" content = "Petnet Stein">
    <meta property = "og:title " content = "Petnet | About">

    <meta property = "og:description" content = "Petnet is the best online store for pets bla bla">
    <meta property = "og:type" content = "article">
    <meta property = "og:url" content = "http://petnet.com/about/">
{% endblock  %}


{% block content %}
    <h1>About</h1>
{% endblock  %}